/* General styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
    
}

/* Emoji grid styling */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive grid */
    gap: 15px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
/* all the emoji in the array */
.emoji-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #8e8e8e;
    padding: 10px;
    width: 80px;
    height: 80px;
    font-size: 2rem;
}
/* all the code of the emoji in the array */
.emoji-code {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}
